<div data-ng-include="'./templates/common/header.html'"></div>
<div class="container ">
	<div class="position">当前位置>首页</div>
	<div class="computer">
		<div class="list" id="list">
			
		</div>
	</div>
</div>
<div data-ng-include="'./templates/common/footer.html'"></div>

<script type="text/javascript">


$(function(){


var canvas=null;
var ctx=null;
var py=null;
var period=100;
var timer=null;
var map = new BMap.Map("list"); 
map.setMapStyle({style:'midnight'});          
var point = new BMap.Point(0, 20);    
map.centerAndZoom(point,1);
map.disableDragging();
map.disableDoubleClickZoom();                   

/*map.enableScrollWheelZoom();*/



function Star(options){
	this.x=options.x,
	this.y=options.y,
	this.size=options.size
}
var i=10;
var opacity=1;
Star.prototype.render = function() {

	var point = map.pointToOverlayPixel(new BMap.Point(this.x, this.y));
	var px = point.x;
	var py=point.y;
	ctx.beginPath();
	ctx.fillStyle="rgba(0,255,158,0.5)"
	
	ctx.arc(px, py, 2, 0, 2 * Math.PI);
	ctx.fill();

	ctx.strokeStyle = "rgba(28,220,37,"+(opacity-0.1)+")";
	ctx.lineWidth = 2.5;
	ctx.beginPath();
	ctx.arc(px, py, i/10, 0, 2 * Math.PI);
	ctx.stroke();

	ctx.strokeStyle = "rgba(28,220,37,"+(opacity-0.2)+")";
	ctx.lineWidth = 1.5;
	ctx.beginPath();
	ctx.arc(px, py, i/5, 0, 2 * Math.PI);
	ctx.stroke();

	ctx.strokeStyle = "rgba(28,220,37,"+(opacity-0.3)+")";
	ctx.lineWidth = 1.5;
	ctx.beginPath();
	ctx.arc(px, py, i/2, 0, 2 * Math.PI);
	ctx.stroke()
};

function ComplexCustomOverlay(point){
  this._point = point;
}
ComplexCustomOverlay.prototype = new BMap.Overlay();
ComplexCustomOverlay.prototype.initialize = function(map){
  this._map = map;
  canvas = this.canvas = document.createElement("canvas");
  canvas.style.cssText = "position:absolute;left:0;top:0;";
  ctx = canvas.getContext("2d");
  var size = map.getSize();
  canvas.width = BW = size.width;
  canvas.height = BH = size.height;
  map.getPanes().labelPane.appendChild(canvas);
  //map.getContainer().appendChild(canvas);
  return this.canvas;
}
var starts = [];
ComplexCustomOverlay.prototype.draw = function(){
	var map = this._map;
	var bounds = map.getBounds();
	var sw = bounds.getSouthWest();
	var ne = bounds.getNorthEast();
	var pixel = map.pointToOverlayPixel(new BMap.Point(sw.lng, ne.lat));
	py = pixel;
	for(var index=0;index<starts.length;index++){
		starts[index].render();
	}
}
var myCompOverlay = new ComplexCustomOverlay(new BMap.Point(0,30));
map.addOverlay(myCompOverlay);

$.get("computer/getAll.do","json",function(_data){
	var data = JSON.parse(_data)
	for(var index in data){
		if(data[index].lng!=""&& data[index].lat!=""){
			starts.push(new Star({
				x: data[index].lat,
				y: data[index].lng,
				size:20}))
		}
	}
	if (timer!=null|| timer!=undefined) {
		timer.clearTimeout();
	}	
	else if(timer==null){
		doRender();
	}
})

var now = +new Date();
var last = null;

function doRender(){
	now = +new Date();
	ctx.clearRect(0,0,canvas.width,canvas.height);
	for(var index=0;index<starts.length;index++){
		starts[index].render();
	}
	i=(i+10)%100;
	opacity=opacity-0.1;
	if(opacity<0.1) opacity=1;
	timer = setTimeout(doRender,period);
}

})



</script>

<style type="text/css">
	.anchorBL{display:none;}
	.container .breadcrumb{
		padding-left:40px;
	}
	.computer .toolbar{
		padding:20px 60px 20px 60px;
		background-color: #f5f5f5;
		box-shadow: 0px 0px 2px 1px #bbb;
		
	}
	.computer .list{
		background-color: #2B2C30;
		width:100%;
		height:600px;
		margin:0 auto;
	}
	.container .position{
		padding-top:20px;
		padding-bottom:20px;
	}
	.computer table{
		text-align: center;
	}
	.computer th{
		text-align: center;
	}
	.computer i:last-child{
		margin-left:30px;
	}
	.computer thead tr{
		background-color:#3f92d2;
		color:#fff;
	}
	.computer button.search{
		background-color:#3f92d2;
		color:#fff;
	}
</style>