<div data-ng-include="'./templates/common/header.html'"></div>
<div class="container ">
	<div class="position">当前位置>链路管理</div>
	<div class="box">
		<div class="toolbar">
			<input data-ng-model="key" placeholder="请输入关键词" ng-trim="false">
			<a class="" data-ng-click="refresh()">搜索</a>
			<a class=" reset" data-ng-click="key=''">重置</a>
			<a class="major pull-right" href="" data-ng-click="open()">添加</a>
			<a class="major pull-right"  data-ng-click="export()">导出</a>
			<a href="{{url}}"  style="display:none"><span id="export"></span></a>
		</div>
		<div class="list">
			<table class="table">
				<thead>
					<tr>
						<th width="20%"><a href="" data-ng-click="selectAll()">{{flag==1 ? '取消全选':'全选'}}</a></th>
						<th width="20%">链路名称</th>
						<th width="10%">节点数量</th>
						<th width="30%">链路路径</th>
						<th width="20%">操作</th>
					</th>
				</thead>
				<tbody>
					<tr data-ng-repeat="c in links.data track by $index">
						<td><input type="checkbox" data-ng-checked="isSelected(c.id)" data-ng-click="select($event,c.id)"></td>
						<td>{{c.name}}</td>
						<td>{{c.path.split(",").length}}</td>
						<td>{{c.route}}</td>
						<td>
							<a href="" data-ng-click="open(c.id)"><i class="glyphicon glyphicon-edit"></i></a>
							<a href="" data-ng-click="deleteLink(c)"><i class="glyphicon glyphicon-remove-sign"></i>
							</a>
						</td>
					</tr>
					<tr data-ng-if="links.data.length==0">
						<td colspan="5">没有了</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="page-content">
			<uib-pagination total-items="links.page.total" data-ng-change="pageChanged()" ng-model="links.page.current" items-per-page="links.page.size" class="pagination-sm" boundary-link-numbers="true" previous-text="上一页" next-text="下一页"></uib-pagination>
		</div>
	</div>
</div>
<div data-ng-include="'./templates/common/footer.html'"></div>
<style type="text/css">
	.container .breadcrumb{
		padding-left:40px;
	}
	.box .toolbar{
		padding:20px 60px 20px 20px;
		background-color:  #2B2C30;
	}
	.box .toolbar input{
		padding:15px;
		border:1px solid #4d4e52;
		background-color: #2B2C30;
		transition: border-color ease-in-out .15s;
		height:41px;
		width:300px;
		margin-right:10px;
	}
	.box .toolbar input:hover,
	.box .toolbar input:active,
	.box .toolbar input:focus{
		border-color: #6CB670
	}
	.box .toolbar a{
		border: 1px solid #4e595f;
		text-decoration: none;
		/*background-color: #3f92d2;*/
		padding:10px 20px 10px 20px;
		cursor: pointer;
		margin-right:10px;
		color:#ccc;
		transition: all .15s ease-in 0s;
	}
	.box .toolbar a:hover{
		background-color: #6cb670;
	}

	.box .list{
		margin-top:20px;
		background-color: #f5f5f5;
	}
	.container .position{
		padding-top:20px;
		padding-bottom:20px;
	}
	.box .list{
		margin-top:20px;
		/*box-shadow: 0px 0px 2px 1px #bbb;*/
	}
	.box .list td{
		border-top:1px solid #4d4e52;
	}
	
	.box table{
		text-align: center;
	}
	.box th{
		text-align: center;
	}
	.box .list table a{
		margin-right: 10px;
		margin-left:10px;
		color:#6CB670;
	}
	.box i:last-child{
		
	}
	.box thead tr{
		background-color: #2B2C30;
	/*	color:#fff;
		border-top: 1px solid  #2B2C30;
		border-left: 1px solid  #2B2C30;
		border-right: 1px solid  #2B2C30;*/
	}
	.box tbody tr{
		background-color:#2B2C30;
	}
	.table>thead>tr>th{
		    border-bottom: 2px solid #4d4e52;
	}

	.page-content{
		text-align: center;
		vertical-align: center;
	}
	.page-content{
		text-align: center;
	}
	i{
		font-size: 20px;
	}
	.pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus, .pagination>li>a, .pagination>li>span{
		background-color: #2B2C30;
		border-color:#4d4e52;
	}
	.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
		background-color: #6CB670;
    	border-color: #6CB670;
	}
	.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus{
		background-color: #6CB670;
    	border-color: #6CB670;
	}
</style>